VITE_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_SOROBAN_CONTRACT_ID=YOUR_CONTRACT_ID_HERE
VITE_READONLY_ACCOUNT_PUBLIC_KEY=OPTIONAL_FUNDED_TESTNET_ACCOUNT
VITE_RESULTS_POLL_INTERVAL=8000
